In [1]:
import pymssql
import pandas as pd
import numpy as np
import re
import datetime
import os
import openpyxl

In [2]:
path = ('C:\\Users\\QiauHui_Wong\\QIAO HUI\\Latest Result\\')
path

'C:\\Users\\QiauHui_Wong\\QIAO HUI\\Latest Result\\'

In [3]:
files = os.listdir (path)
files

['HRH14440978_20211102105853',
 'HRH14440980_20211102105757',
 'HRH14441021_20211102105947']

In [38]:
fail_path_list = []
pass_path_list = []

for file in files:
    result = path + file
    #print (result)
    
    fail_path = result + '\\Fail\\'
    pass_path = result + '\\Pass\\'
    #print (fail_path)

    fail_path_list.append (fail_path)
    pass_path_list.append (pass_path)

final_path_list = fail_path_list + pass_path_list

#print('fail_path_list' , fail_path_list)
#print('pass_path_list',pass_path_list)
#print('final_path_list', final_path_list)

#fail_path_list

die_grab_1 = []
die_grab_2 = []
die_grab_3 = []
pcb_grab_1 = []
pcb_grab_2 = []

for i in final_path_list:                 # There's 3 fail and 3 pass in the joinedlist
    final_path = os.listdir (i)        # Make the All fail & pass data into a list = 30 
    #print (final_path)       
    
    for j in range(len(final_path)):      # Loop N times depending on the total number of the data in all_data
        full_path = i + final_path[j]  # save in new list
        
        if 'Die level_Grab 1' in full_path:
            die_grab_1.append (full_path)
            
        elif 'Die level_Grab 2' in full_path:
            die_grab_2.append (full_path)
            
        elif 'Die level_Grab 3' in full_path:
            die_grab_3.append (full_path)
            
        elif 'PCB level_Grab 1' in full_path:
            pcb_grab_1.append (full_path)
            
        elif 'PCB level_Grab 2' in full_path:
            pcb_grab_2.append (full_path)

#print ( 'die_grab_1 === ' ,die_grab_1 ,"\n" , len(die_grab_1),"\n")
#print ( 'die_grab_2 === ' ,die_grab_2 ,"\n", len(die_grab_2),"\n")
#print ( 'die_grab_3 === ' ,die_grab_3,"\n", len(die_grab_3),"\n")
#print ( 'pcb_grab_1 === ' ,pcb_grab_1,"\n", len(pcb_grab_1),"\n")
#print ( 'pcb_grab_2 === ' ,pcb_grab_2,"\n", len(pcb_grab_2),"\n")

full_path

'C:\\Users\\QiauHui_Wong\\QIAO HUI\\Latest Result\\HRH14441021_20211102105947\\Pass\\PCB level_Grab 2.txt'

In [30]:
df_die_grab_1 = pd.DataFrame ()
df_die_grab_2 = pd.DataFrame ()
df_die_grab_3 = pd.DataFrame ()
df_pcb_grab_1 = pd.DataFrame ()
df_pcb_grab_2 = pd.DataFrame ()

for k in die_grab_1:
    
    df_1 = pd.read_csv (k, sep = ';', header = [0,1])
    df_1.columns = df_1.columns.to_flat_index().str.join(' ')
    df_die_grab_1 = df_die_grab_1.append(df_1)

for k in die_grab_2:
    
    df_2 = pd.read_csv (k, sep = ';', header = [0,1])
    df_2.columns = df_2.columns.to_flat_index().str.join(' ')
    df_die_grab_2 = df_die_grab_2.append(df_2)
    #print (df2)

for k in die_grab_3:
    
    df_3 = pd.read_csv (k, sep = ';', header = [0,1])
    df_3.columns = df_3.columns.to_flat_index().str.join(' ')
    df_die_grab_3 = df_die_grab_3.append(df_3)
    #print (df_die_grab_3)
    
for k in pcb_grab_1:
    
    df_4 = pd.read_csv (k, sep = ';', header = [0,1])
    df_4.columns = df_4.columns.to_flat_index().str.join(' ')
    df_pcb_grab_1 = df_pcb_grab_1.append(df_4)
    #print (df4)
    
for k in pcb_grab_2:

    df_5 = pd.read_csv (k, sep = ';', header = [0,1])
    df_5.columns = df_5.columns.to_flat_index().str.join(' ')
    df_pcb_grab_2 = df_pcb_grab_2.append(df_5)   ### df_pcb_grab_2 = [978] + 980
    #print (ddf_pcb_grab_2f5)
    
#df_die_grab_1
#pd.set_option('max_columns', None)
#df_die_grab_1.head ()

,Unnamed: 0_level_0 Lot ID,Unnamed: 1_level_0 Unit,PCB 1. Defect,PCB 2. N_Defect,...,Smash Bond 10. width (um),Smash Bond 10. width (um) (min),Smash Bond 10. width (um) (max),Smash Bond 10. width (um) (avg)
0,HRH14440978,HE_9_1_L_78,1,0,...,NaN,NaN,NaN,NaN
1,HRH14440978,HE_18_4_L_74,1,1,...,NaN,NaN,NaN,NaN
2,HRH14440978,HE_13_8_L,1,2,...,NaN,NaN,NaN,NaN
3,HRH14440978,HE_1_9_L_78,1,0,...,NaN,NaN,NaN,NaN
4,HRH14440978,HE_6_10_L,1,2,...,NaN,NaN,NaN,NaN

In [32]:
#Rename Column Die grab 1
df_die_grab_1.rename(columns={'Unnamed: 0_level_0 Lot ID':'DPNO'},inplace=True)
df_die_grab_1.rename(columns={'Unnamed: 1_level_0 Unit':'Unit'},inplace=True)


#Add New Columns
df_die_grab_1['Col']=df_die_grab_1['Unit'].str.extract('_(\d+)')
df_die_grab_1['Row']=df_die_grab_1['Unit'].str.extract('\d_(\d+)')
df_die_grab_1['C_R']=df_die_grab_1['Col'] + '_' + df_die_grab_1['Row']
pd.set_option('max_columns', 8)

#Rearrange Row and Col
cols = list (df_die_grab_1.columns.values)
df_die_grab_1 = df_die_grab_1[cols [0:2] + [cols [-1]]+ [cols [-3]]+[cols [-2]]+ cols [2:-3]]




df_die_grab_1.to_excel ('sample1.xlsx', index = False)

In [33]:
#Rename Column Die grab 2
df_die_grab_2.rename(columns={'Unnamed: 0_level_0 Lot ID':'DPNO'},inplace=True)
df_die_grab_2.rename(columns={'Unnamed: 1_level_0 Unit':'Unit'},inplace=True)


#Add New Columns
df_die_grab_2['Col']=df_die_grab_2['Unit'].str.extract('_(\d+)')
df_die_grab_2['Row']=df_die_grab_2['Unit'].str.extract('\d_(\d+)')
df_die_grab_2['C_R']=df_die_grab_2['Col'] + '_' + df_die_grab_2['Row']
pd.set_option('max_columns', 8)

#Rearrange Row and Col
cols = list (df_die_grab_2.columns.values)
df_die_grab_2 = df_die_grab_2[cols [0:2] + [cols [-1]]+ [cols [-3]]+[cols [-2]]+ cols [2:-3]]



#df_die_grab_2.head()
df_die_grab_2.to_excel ('sample2.xlsx', index = False)

In [34]:
#Rename Column Die grab 3
df_die_grab_3.rename(columns={'Unnamed: 0_level_0 Lot ID':'DPNO'},inplace=True)
df_die_grab_3.rename(columns={'Unnamed: 1_level_0 Unit':'Unit'},inplace=True)


#Add New Columns
df_die_grab_3['Col']=df_die_grab_3['Unit'].str.extract('_(\d+)')
df_die_grab_3['Row']=df_die_grab_3['Unit'].str.extract('\d_(\d+)')
df_die_grab_3['C_R']=df_die_grab_3['Col'] + '_' + df_die_grab_3['Row']
pd.set_option('max_columns', 8)

#Rearrange Row and Col
cols = list (df_die_grab_3.columns.values)
df_die_grab_3 = df_die_grab_3[cols [0:2] + [cols [-1]]+ [cols [-3]]+[cols [-2]]+ cols [2:-3]]



df_die_grab_3.to_excel ('sample3.xlsx', index = False)

In [35]:
#Rename Column PCB grab 1
df_pcb_grab_1.rename(columns={'Unnamed: 0_level_0 Lot ID':'DPNO'},inplace=True)
df_pcb_grab_1.rename(columns={'Unnamed: 1_level_0 Unit':'Unit'},inplace=True)


#Add New Columns
df_pcb_grab_1['Col']=df_pcb_grab_1['Unit'].str.extract('_(\d+)')
df_pcb_grab_1['Row']=df_pcb_grab_1['Unit'].str.extract('\d_(\d+)')
df_pcb_grab_1['C_R']=df_pcb_grab_1['Col'] + '_' + df_pcb_grab_1['Row']
pd.set_option('max_columns', 8)

#Rearrange Row and Col
cols = list (df_pcb_grab_1.columns.values)
df_pcb_grab_1 = df_pcb_grab_1[cols [0:2] + [cols [-1]]+ [cols [-3]]+[cols [-2]]+ cols [2:-3]]



df_pcb_grab_1.to_excel ('sample4.xlsx', index = False)

In [36]:
#Rename Column PCB grab 1
df_pcb_grab_2.rename(columns={'Unnamed: 0_level_0 Lot ID':'DPNO'},inplace=True)
df_pcb_grab_2.rename(columns={'Unnamed: 1_level_0 Unit':'Unit'},inplace=True)


#Add New Columns
df_pcb_grab_2['Col']=df_pcb_grab_2['Unit'].str.extract('_(\d+)')
df_pcb_grab_2['Row']=df_pcb_grab_2['Unit'].str.extract('\d_(\d+)')
df_pcb_grab_2['C_R']=df_pcb_grab_2['Col'] + '_' + df_pcb_grab_2['Row']
pd.set_option('max_columns', 8)

#Rearrange Row and Col
cols = list (df_pcb_grab_2.columns.values)
df_pcb_grab_2 = df_pcb_grab_2[cols [0:2] + [cols [-1]]+ [cols [-3]]+[cols [-2]]+ cols [2:-3]]



df_pcb_grab_2.to_excel ('sample5.xlsx', index = False)

In [ ]:
df_die_grab_2 = pd.DataFrame ()

for k in die_grab_2:
    
    df_2 = pd.read_csv (k, sep = ';', header = [0,1])
    df_2.columns = df_2.columns.to_flat_index().str.join(' ')
    df2 = df_die_grab_2.append(df_2)


#Rename Column
df2.rename(columns={'Unnamed: 0_level_0 Lot ID':'DPNO'},inplace=True)
df2.rename(columns={'Unnamed: 1_level_0 Unit':'Unit'},inplace=True)


#Add New Columns
df2['Col']=df2['Unit'].str.extract('_(\d+)')
df2['Row']=df2['Unit'].str.extract('\d_(\d+)')
df2['C_R']=df2['Col'] + '_' + df2['Row']
pd.set_option('max_columns', 8)

#Rearrange Row and Col
cols = list (df2.columns.values)
df2 = df2[cols [0:2] + [cols [-1]]+ [cols [-3]]+[cols [-2]]+ cols [2:-3]]

df2.head()

#df2.to_excel ('sample2.xlsx', index = False)

In [ ]:

##Extract Carrier ID from path 
for j in all_txt_file:                                      #all_txt_file carry all path in list 
    DPNO = re.findall (r'HRH\d+', j)
    Data = pd.read_csv (j, delimiter = ';', header = [0,1])
    Data ['DPNO'] = DPNO[0]
    
        
        
   #print (Data)
    
    df=Data 
    #Rearrange Col for DPNO
    cols = list (df.columns.values)
    df = df [[cols [-1]] + cols [0:-1]]
    
    #Merge 2 columns as header
    df.columns =df.columns.to_flat_index().str.join(' ')
    pd.set_option('max_columns', None)


    #Rename Column
    df.rename(columns={'Unnamed: 0_level_0 Unit':'Unit'},inplace=True)
    df['Col']=df['Unit'].str.extract('_(\d+)')
    df['Row']=df['Unit'].str.extract('\d_(\d+)')
    df['C_R']=df['Col']+'_'+df['Row']

    #Rearrange Row and Col
    cols = list (df.columns.values)
    df = df[cols [0:2] + [cols [-1]]+ [cols [-3]]+[cols [-2]]+ cols [2:-3]]

    
    if j is all_txt_file[0]:
        df_0 = df
    df_merge = pd.merge(df_0 ,df,on= 'C_R', how = 'outer')
    df_merge

#df["Order_Date"]=df['Shipment ID'].replace(regex=r"\-.",value="")
#df.to_csv ('Data.csv', index = False)
    
    
   #print('df_0.shape= ',df_0.shape)
   #print('df.shape=',df.shape)
    #df3 = pd.concat([df,df2])
    #All_Data = pd.merge (df, df2, left_on = 'Unit', right_on = 'Unit')
#df_merge

In [ ]:
#pd.merge(df_0 ,df,on= ['DPNO','C_R'])

In [ ]:
#Merge 2 columns as header
df.columns =df.columns.to_flat_index().str.join(' ')
pd.set_option('max_columns', None)


#Rename Column
df.rename(columns={'Unnamed: 0_level_0 Unit':'Unit'},inplace=True)
df['Col']=df['Unit'].str.extract('_(.)')
df['Row']=df['Unit'].str.extract('\d_(.)')

#Rearrange Row and Col
cols = list (df.columns.values)
df = df [cols [0:2] + [cols [-2]] + [cols [-1]] + cols [2:-2]]



#df["Order_Date"]=df['Shipment ID'].replace(regex=r"\-.",value="")
#df.to_csv ('Data.csv', index = False)
df.head(4)

In [ ]:
df2 = pd.DataFrame()  

import pandas as pd
from functools import reduce

for n in all_txt_file:
    df3 = pd.concat([df,df2])
    
    
    #All_Data = pd.merge (df3, , left_on = 'Unit', right_on = 'Unit', how = 'outer', indicator = True)
    
    #df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Unit'],
                                            #how='outer'), data_frames)


    #print (data_frames)
df

In [ ]:
A = 'C:\\Users\\QiauHui_Wong\\QIAO HUI\\MMS#2 Result\\HRH14111461_20211005170600\\Fail\\Die level_Grab 1 (Fail).txt'

DPNO = re.findall (r'HRH\d+', A)

DPNO

In [ ]:
#df_2.append (full_data, ignore_index=False, verify_integrity=False, sort=None)

In [ ]:
header_name='Bond Offset 7. Angle (deg)'

# Notice that all individual items are of type string including '[12,13.5]'
list_from_column = df[header_name].tolist()

li_flat = []

for m in range(len(list_from_column)):
    # find character '[' to find individual items that are not a single string number
    if '[' in list_from_column[m]:
        # remove character '[' and ']' and split the numbers of 12 and 13.5.
        # 'inner' variable looks like this ['12', '13.5']
        inner = list_from_column[m].replace(
            "[", "").replace("]", "").split(",")
        # convert 'inner' variable that has list of strings to list of floats
        # 'inner_float' variable looks like this [12.0, 13.5]
        inner_float = list(np.float_(inner))
        # Find the mean of the list of float numbers
        inner_mean = np.mean(inner_float)
        # Append the mean number into li_flat 
        li_flat.append(inner_mean)

    else:
        # if values are a single string '5', then straight convert that string to float type
        # from '5' to 5.0
        singleNum_float = np.float_(list_from_column[m])
        # Straight away append the single float number into li_flat
        li_flat.append(singleNum_float)


# This is printing in string interpolation FYI ya
#print(f'list_from_column is \n{list_from_column}\n')
#print(f'The mean values of each cell are \n{li_flat}\n')

#df ['Bond Offset Mean'] = li_flat
#df.head(5)

header_name

In [ ]:
A = 'C:\\Users\\QiauHui_Wong\\QIAO HUI\\Latest Result\\HRH14440978_20211102105853\\Fail\\Die level_Grab 1.txt'

df = pd.read_csv (A, sep = ';', header = [0,1])
df.columns = df.columns.to_flat_index().str.join(' ')
pd.set_option('max_columns', None)

df

In [55]:
df2

,Unnamed: 0_level_0 Lot ID HRH14441021,Unnamed: 1_level_0 Unit HE_2_2_L1,FO 1. Defect 1,FO 2. N_Defect 1,...,FM Lead 8. Offset X 0,FM Lead 9. Offset Y 0,FM Lead 10. Offset Theta 0,FM Lead 11. Inspection Time 2.94279999798164
0,HRH14441021,HE_1_1_L1,1,1,...,0,0,0,2.5041
1,HRH14441021,HE_2_1_L1,1,1,...,0,0,0,1.3223
2,HRH14441021,HE_1_2_L1,1,1,...,0,0,0,1.4744
3,HRH14441021,HE_4_1_L1,1,1,...,0,0,0,7.3720
4,HRH14441021,HE_3_2_L1,1,1,...,0,0,0,2.4797
...,...,...,...,...,...,...,...,...,...
277,HRH14441021,HE_3_15_L1,1,1,...,0,0,0,2.0003
278,HRH14441021,HE_2_15_L1,1,1,...,0,0,0,1.7644
279,HRH14441021,HE_1_15_L1,1,1,...,0,0,0,2.2073
280,HRH14441021,HE_1_16_L1,1,1,...,0,0,0,2.7916
281,HRH14441021,HE_2_16_L1,1,1,...,0,0,0,2.4182